

.width-full {
	width: 100%;
}

.display-none {
	display: none;
}

.display-block {
	display: block;
}

.display-inline-block {
	display: inline-block;
}

.visibility-hidden {
	visibility: hidden;
}

.modal {
	.modal-body {
		padding: 15px 30px;
	}
}

.border-none {
	border: 0;
}

.cursor-def {
	cursor: default;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.align-right {
    text-align: right;
}

