/*** Colors ***/
$light: #e7e7e7;

/* Grey */
$grey: #eee;
$grey-background: #f6f6f6;
$grey-border: #e0e0e0;
$grey-darker: darken($grey, 3%);

$sand: rgba(255, 212, 100, 0.95);
$blue: #238ed2; /*rgba(19, 82, 162, 1);*/
$orange: rgba(242, 105, 100, 0.9);
$panel-color: rgba(51, 51, 51, 1);
$text: #333;
$white: #fafafa;
$black: #333;

/*** Heights ***/
$footer-height: 5em;

/*** Misc ***/
$image-src: "../../image/";


