/** Colors **/
$dark-dark: #101010;
$dark: #484848;
$light-dark: #5a5a5a;
$lime: #d2ff00;
$orange: #fa5f3c;
$orange-contrast: #ff6d46;
$green: #28c8a5;
$purple: #8c82ff;
$grey-44: #707070;
$grey-53: #878787;
$grey-65: #a5a5a5;
$grey: #ccc;
$red: rgb(255, 60, 70);

$black: #333;
$white: #fff;


/*** Heights ***/
$footer-height: 60px;

/*** Misc ***/
$image-src: "../../image/";


