/*** Colors ***/
$light: #e7e7e7;

/* Grey */
$grey: #eee;
$grey-background: #f6f6f6;
$grey-border: #e0e0e0;
$grey-darker: darken($grey, 3%);
$grey98: #fafafa;
$shadow: #aaa;


$sand: rgba(255, 212, 100, 0.95);
$blue: #1b75bc; /*#238ed2; /*rgba(19, 82, 162, 1);*/
$orange: rgba(242, 105, 100, 0.9);
$red: #cd5c5c;
$panel-color: rgba(51, 51, 51, 1);
$text: #333;
$black: #333;
$white: #fff;
$purple: #6e5baa;
$purple-light: #c7c0de;


/*** Heights ***/
$footer-height: 60px;

/*** Misc ***/
$image-src: "../../image/";


