@mixin border-grey() {
	border: {
		color: $grey-border;
		style: solid;
		width: 1px;
	}
}

@mixin hover-underline() {
	&:hover {
		text-decoration: underline;
	}
}

@mixin underline-text() {
	cursor: pointer;
	
	&:hover {
		text-decoration: underline;
	}
}

@mixin filter-button() {
	background: #eee;
	cursor: pointer;
	
	&:hover {
		background: lighten(#eee, 20%);
	}
}

@mixin background-image($image) {
	background-image: url($image-src + $image);
}

@mixin filter-underline() {
	border: {
		color: #333;
		style: dotted;
		width: 0px 0px 1px;
	}
	cursor: pointer;
	
	&:hover {
		border: {
			style: solid;
		}
	}
}