@mixin border-grey() {
	border: {
		color: $grey-border;
		style: solid;
		width: 1px;
	}
}

@mixin hover-underline() {
	&:hover {
		text-decoration: underline;
	}
}

@mixin underline-text() {
	cursor: pointer;
	
	&:hover {
		text-decoration: underline;
	}
}

@mixin filter-button() {
	background: #eee;
	cursor: pointer;
	
	&:hover {
		background: lighten(#eee, 20%);
	}
}