@mixin border-grey() {
	border: {
		color: $grey-border;
		style: solid;
		width: 1px;
	}
}

@mixin hover-underline() {
	&:hover {
		text-decoration: underline;
	}
}

@mixin underline-text() {
	cursor: pointer;
	
	&:hover {
		text-decoration: underline;
	}
}

@mixin filter-button() {
	background: #eee;
	cursor: pointer;
	
	&:hover {
		background: lighten(#eee, 20%);
	}
}

@mixin background-image($image) {
	background-image: url($image-src + $image);
}

@mixin filter-underline() {
	border: {
		color: #333;
		style: dotted;
		width: 0px 0px 1px;
	}
	cursor: pointer;
	
	&:hover {
		border: {
			style: solid;
		}
	}
}

@mixin transition($transition-property, $time) {
    -webkit-transition: $transition-property $time ease 0s;
    -moz-transition: $transition-property $time ease 0s;
    -ms-transition: $transition-property $time ease 0s;
    -o-transition: $transition-property $time ease 0s;
    transition: $transition-property $time ease 0s;
}

@mixin navigation-buttons() {
	ul li {
		color: $grey98;
		margin: 0;
		
		&:hover {
			
			color: $black;
		}
		
		a {
			background: $black;
			color: inherit;
			@include transition(background, 0.4s);
			
			&:hover {
				background: $grey98;
				color: inherit;
			}
		}
	}
}

@mixin outline() {
	&:focus {
		outline: 4px solid lighten($blue, 12%);
		z-index: 10;
	}
}

