.suggestions {
    left: 0;
    position: absolute;
	width: 100%;
    z-index: 2;
    
    ul {
	    background: none repeat scroll 0 0 #ffffff;
	    border-top: 1px dotted #ccc;
	    display: none;
	    margin-left: 15px;
		margin-right: 15px;
	    margin-top: 0;
	    padding-left: 0px;
	    padding-bottom: 0px;	 
	    position: relative;
	    top: -1px;   
	    
	    li {
		    -moz-border-bottom-colors: none;
		    -moz-border-left-colors: none;
		    -moz-border-right-colors: none;
		    -moz-border-top-colors: none;
		    background: inherit;
		    border-color: #ccc;
		    border-image: none;
		    border-style: solid;
		    border-width: 0 1px;
		    display: block;
		    font: {
		    	size: 14px;
		    	weight: bold;
	    	}
		    padding: 4px 12px;
		    
		    span {
		    	font: {
		    		weight: normal;
	    		}
	    	}
		    
		    &:last-child {
			    border-radius: 0 0 2px 2px;
			    border-width: 0 1px 1px;
			}
			
			&.selected {
			    background: none repeat scroll 0 0 #ebebeb;
			    cursor: pointer;
			    font-weight: bold;
			    
			    span {
			    	font: {
			    		weight: bold;
		    		}
		    	}
			}
		}		
	}
}

.suggestions.suggestions-boxy {

	ul {
	    margin-left: -1px;
		margin-right: -1px;
		top: 3px;
	}
}

.suggestion-wrapper {
	background: #fafafa;
	border: 1px solid #ccc;
	border-radius: 2px;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.976) inset;
    color: #444;
	font-size: 14px;
    padding: 3px 6px;
    position: relative;

	textarea {
		background: #fafafa;
		border: 0px;
		color: #000;
		display: inline-block;
		height: 20px;
		margin: 4px 0px 0px;
		padding: 0px 6px;
		position: relative;
		resize: none;
		top: -1px;
	}
	
	.suggestion {
		background: #e6e6e6;
		border: 1px solid #bbb;
		border-radius: 4px;
		cursor: pointer;
		display: inline-block;
		margin: 0px 4px 1px 0px;
		line-height: 19px;
		padding: 0px 6px;
		position: relative;
		transition: all 0.2s ease 0s;
		
		&:hover {
			background: #f9f9f9;
			border-color: #bbb;
			color: #666;
		}
		
		
		.remove-suggestion {
			@include background-image("icons/close.png");
			cursor: pointer;
			display: inline-block;
			height: 16px;
			position: relative;
			right: -3px;
			width: 16px;
			top: 3px;
			z-index: 1;
			
			&:hover {
				@include background-image("icons/close_light.png");
			}
		}
	}
	
}



