/* Styles for Web Accessibility 
 *
 * @author Łukasz Pawełczak
 */


.skip-links {

	ul {
		list-style: outside none;
		position: absolute;
		text-align: center;

		li {
			display: inline-block;
			text-align: center;
		
			a {
				cursor: pointer;
				position: absolute;
				left: -99999px;
				top: 7px;
			
				&:focus, &:active {
					background: $white;
					font: {
						size: 18px;
					}
					height: auto;
					left: 0;
					padding: 5px 15px;
					position: relative;
					text-decoration: none;
					z-index:9999;

				}
			}
		}

	}
}


