
.skip-links {

    ul {
        list-style: outside none;
        position: absolute;
        text-align: center;

        li {
            display: inline-block;
            text-align: center;
        
            a {
                background: $purple;
                color: $dark-dark;
                cursor: pointer;
                position: absolute;
                left: -99999px;
                top: 7px;
            
                &:focus, &:active {
                    background: $purple;
                    font: {
                        size: 18px;
                    }
                    height: auto;
                    left: 0;
                    padding: 10px 20px;
                    position: relative;
                    text-decoration: none;
                    z-index:9999;
					display: flex;
  					top: 0;
                }
            }
        }

    }
}

.visuallyhidden { 
    position: absolute; 
    clip: rect(1px 1px 1px 1px); /* for IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    margin: -1px;
    border: 0; 
    padding: 0; 
    width: 1px;
    height: 1px ; 
    overflow: hidden;
}


