
.width-full {
	width: 100%;
}

.display-none {
	display: none;
}

.display-block {
	display: block;
}

.display-inline-block {
	display: inline-block;
}

.modal {
	.modal-body {
		padding: 15px 30px;
	}
}
