/*** Modern view styles ***/

@import "_fonts.scss";
@import "_constans.scss";
@import "_mixins.scss";




$screen-xs-min: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1200px;
$screen-lg-min: 1201px;

@media (max-width: $screen-xs-min) {

}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

}
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {

}
@media (min-width: $screen-lg-min) {

}



* {
	margin: 0;
}

html, body {
	background: #f0f0f0;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 300;
}

html {
	min-height: 100%;
	position: relative;
}

body {
	margin-bottom: $footer-height + 30px;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}


a, .hint {
	color: $blue;
	@include outline();
}


header {
	@include background-image("header/debut_light.png");
	background: {
		repeat: repeat; 
	}
	padding-top: 50px;
	
	
	h1 {
		font-weight: 300;
		margin: 0 0 10px;
		padding: 6px 0 16px;
		
    	@media (max-width: $screen-xs-min) {
            padding-left: 10px;
        }
	}
	
	.navbar-default {
		background: $panel-color;
		border: 0 solid $grey-darker;
		border-width: 0 0;
		border-radius: 0;
		margin-bottom: 0;
		
		
		.container {
			padding: 0;
		}
		
		ul {
			background: $black;
			
			li {
				background: $black;
				
				@media (max-width: $screen-xs-min) {
			        border-bottom: 1px solid #ccc;
                }
				
				a {
					background: $black;
				}
			}
		}
	}
	
	.navbar-nav {
        @media (max-width: $screen-xs-min) {
            margin: 0;
        }
	}
	
	.navbar-toggle {
	    @include outline();
	
        @media (max-width: $screen-xs-min) {
            background: #999;
            border: 0;
            right: 10px;  
        }
        
	}
	
	.container {
		padding-left: 0;
		padding-right: 0;
	}
	
	.container > .navbar-collapse {
        margin-left: 0;
        margin-right: 0;
		padding-left: 0;
		padding-right: 0;
	}
	
}

footer {
	background: $panel-color;
	bottom: 0;
	color: $grey98;
	height: $footer-height;
	position: absolute;
    width: 100%;
    
	ul {
		background: $black;
		
		li {
			color: $grey98;
			margin: 0;
			
			&:hover {
				
				color: $black;
			}
			
			a {
				background: $black;
				color: inherit;
				@include transition(background, 0.4s);
				
				&:hover {
					background: $grey98;
					color: inherit;
				}
			}
		}
	}
	
	#navigation-footer {
        @media (max-width: $screen-xs-min) {
            display: none;
        }
	}
	
    .navbar-collapse {
        padding-left: 0;
        padding-right: 0;
        
        @media (max-width: $screen-xs-min) {
           margin-left: 0;
           margin-right: 0;
        }
    }
    
    .navbar-nav {
        @media (max-width: $screen-xs-min) {
           margin-left: 0;
           margin-right: 0;
        }
    }
	
	.container {
		padding-left: 0;
		padding-right: 0;
	}
}

.container {
    min-width: 650px !important;
}

.navbar-nav {
	li {
		a {
			padding-bottom: 20px;
			padding-top: 20px;
		}
	}
}

.navbar-blank {
	padding-bottom: 0;
	padding-top: 0;
	margin-bottom: 0;
}



form.search {

	.form-group {
		margin: 16px 0 16px;
	}

	input[type="text"] {
		background-color: #f5f4f3;
		border-color: rgb(200, 200, 200);
		border-width: 1px 1px 3px;
		border-style: solid;
		border-radius: 0;
		box-shadow: none; 
		color: #414243;
		/*font-style: italic;*/
		font-weight: 300;
		font-size: 1.2em;
		padding: 10px 12px;
		width: 400px;
	}

	
}


.navbar-default {
	margin-bottom: 0;
	
	.navbar-nav {
		
		li, .active {
			color: $grey98;
			margin: 0;
			
			a {
				background: $black;
				color: $grey98;
				@include transition(background, 0.4s);
				
				&:hover, &:focus {
					background: darken($grey98, 20%);
					color: $black;
				}
			}
		}
		
		li a {
        	@media (max-width: $screen-xs-min) {
                background: #666;
            }
		}
		
	}

    .navbar-toggle .icon-bar {
        background-color: $black;
    }
}

.beta-info {
	background: lighten($sand, 21%);
	border: 1px solid #ff6600;
	margin: 10px -15px 0;
	padding: 5px 20px 0;	
	
    @media (max-width: $screen-xs-min) {
        margin-left: -5px;
        margin-right: -5px;
    }
	
	p {
		margin-left: 15px;
	}
}

.home-content {
    background: $white;
    border: 1px solid #e6e6e6;
    border-radius: 0;
    margin-bottom: 30px;
    margin-top: 15px;
    padding: 20px 40px;
	
	h2 {
	   margin-bottom: 12px;
	}
	
	p {
	   font-size: 20px; 
	   margin-bottom: 4px;
	   line-height: 1.6em;
	}
	
	.boxes {
       margin-bottom: 20px;
       margin-top: 50px;
	
	   a {
           color: $black;
           display: block;
           text-decoration: none;
       }
	
	   .box {
            border-radius: 2px;
            cursor: pointer;
            height: 250px;
            padding: 6px 12px;
            text-align: center;
           
            @media (max-width: $screen-xs-min) {
                height: 260px;
                margin: 10px auto;
                padding-top: 10px;
                width: 300px;
            }
           
            @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
                height: 280px;
            }
           
           
           &:hover {
               background-color: #f0f0f0;
           }   
           
           .box-title {
                font: {
                    size: 18px;
                }
           
           }
           
           p {
               font-size: 14px;
           }
           
	   }
	   
       .block {
            background-color: $purple-light;
            border: 0;
            border-radius: 75px;
            height: 150px;
            margin: 0 auto 10px;
            width: 150px;
            
        }
	   
       .search {
            @include background-image("icons/search.png");
            background-position: 50%;
            background-repeat: no-repeat;
        }
        
        .stats {
            @include background-image("icons/chart.png");
            background-position: 50%;
            background-repeat: no-repeat;
        }
        
        .api {
            @include background-image("icons/computer.png");
            background-position: 50%;
            background-repeat: no-repeat;
        }
	
	}
	
	.item-desc {
		background: $grey98;
		border: 1px solid #e6e6e6;
		font-size: 17px;
		line-height: 1.5em;
		padding: 10px 50px 40px;
	}
}

.partners {
	margin: 50px auto 20px;
	padding-left: 0;
	padding-right: 0;
}

.frame {
	background: $white;
	border: 1px solid #e6e6e6;
	border-radius: 0;
	padding: 15px;
	
	img {
		padding-bottom: 7px;
		padding-top: 8px;
		
        @media (max-width: $screen-xs-min) {
            margin-bottom: 15px;
            margin-top:15px;
        }
       
        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            margin-bottom: 15px;
            margin-top:15px;
        }
	}
	
	> div {
		text-align: center;
	}
}

.block {
	background: $white;
	border: 1px solid $grey-border;
	margin-top: 30px;
	padding: 20px 40px 30px;

	h2, h3 {
		border-bottom: 1px solid #e0e0e0;
	    font-weight: 300;	
	    line-height: 1.4em;
	    padding-bottom: 6px;
	    
	    span {
	    
	    }
	}
	
	h2 {
	    margin-bottom: 30px;
	}
	
	h3 {
	    margin-bottom: 10px;
	}
}

.search-form {
	background: $white;
	border: 1px solid $grey-border;
	border-radius: 2px;
    margin-top: 30px;
    padding: 0 30px;
	
	input {
		border-radius: 2px;
		border-color: $grey-border;
		box-shadow: 0 0 1px rgba(255, 255, 255, 0.976) inset;
		color: lighten($black, 10%);
	}
	
	input, select, textarea {
		background: $grey98;
	}
	
	label {
		font-weight: 400;
		
		&.col-sm-2 {
			width: 18%;		
		}
		
	}
	
	.advance-form {
		background: none repeat scroll 0 0 $white;
	    display: none;
	    margin: 0 0 -8px 0;
	    padding: 15px 0 0;
	    position: relative;
	    top: -34px;
	}
	
	ul {
		list-style: none;
		padding-left: 26px;
		padding-bottom: 20px;
		
		a {
			padding: 5px 10px;
		}
	}
	
	input[type="checkbox"] {
		margin-left: 0;
	}
	
	legend {
		border-bottom: 1px solid $grey-border;
	    font: {
	    	weight: 300;
    		size: 24px;
    	}
	    margin-bottom: 30px;
	    padding-bottom: 6px;
	    padding-top: 20px;
	}
	
	.form-group {
	
		.hint {
			cursor: pointer;
		
			img {
				margin-left: -8px;
				padding: 3px;
				margin-top: 4px;
			}
		}
		
		.checkbox {
			.hint {
				img {
					margin: 0;
				}
			}
		}
		
		div label {
			margin-left: 5px;
		}
	}

	.button {
		border-radius: 4px;
		margin-left: 10px;
		padding: 8px 14px;
		@include transition(all, 0.2s);
	}
	
	.button-group {
		margin-top: 10px;
		text-align: right;
		
		> div {
			padding-right: 0;
		}
	}
	
	.button-advance {
		background: {
			position: 5px center;
			repeat: no-repeat;
		}
		margin-left: 3px;
		padding: 4px 4px 4px 26px;
		@include outline();
	}
	
	#search-more-fields {
		@include background-image("icons/plus.png");
	}
	
	#search-less-fields {
		@include background-image("icons/minus.png");
	}
	
	.radio-group {
	
		div label {
			display: inline;
		}
	}
	
	button[type="reset"] {
		background: #e6e6e6;
		
		&:hover {
			background: #efefef;
		}
	}
	
	button[type="submit"] {
	   margin-right: 15px;
	}
}

.button {
	border-radius: 2px;
	padding: 6px 12px;
}

.button-blue {
	background: $blue;
	border: {
		color: $blue;
	}
	color: $white;
	text-shadow: 0 0 2px $black;
	
	&:hover {
		background: lighten($blue, 15%);
		border: {
			color: $blue;
		}
		color: $white;
	}
}

.button-blue-light {
	background: lighten($blue, 25%);
	text-shadow: 0 0 2px $black;
	
	&:hover {
		background: lighten($blue, 35%);
	}
}


.btn-blue {
    background-color: #da4f49;
    background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: $white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.search-results {
	border: {
		color: $grey-border;
		style: solid;
		width: 0 0 1px 0;
	}
	padding-left: 0;
	padding-right: 0;
}

.judgment-list {
	background: $white;
	border: {
		color: $grey-border;
		style: solid;
		width: 0 1px 0 1px;
	}
	padding-bottom: 30px;

	ol {
		list-style: outside none none;
	    margin-left: 0;
	    padding-left: 0;
	}

	.no-results {
		font: {
			size: 15px;
		}
		padding-top: 40px;
	}

	.judgment {
		border: {
			color: $grey-border;
			style: solid;
			width: 0 0 1px 0;
		}
		margin-left: 0;
		margin-right: 0;
		padding: 0 15px 0;
		position: relative;
	
		h3 {
			margin-bottom: 5px;
			margin-top: 5px;
		}
	
		a {
			background: $white;
			color: $black;
			
			&:hover {
				background: $white;
				color: $black;
				text-decoration: none;
			}
			
		}
	
		> .row {
			padding: 15px 0 0;
		}
	
		.case-number {
			background: $white;
			color: #0176c3;
			font-size: 22px;
			margin-bottom: 6px;
			
			a {
				background: $white;
				color: $blue;
				position: relative;
				
				&:hover {
					text-decoration: underline;
				}
			}
		}
		
		.top-line {
			font-size: 0.8em;
			margin-top: 15px;
			
			> div {
				background: $white;
				@include filter-underline();
				border-color: #888;
				display: inline-block;
			}
		}
		
		.judgment-type {
			@include filter-underline();
			text-transform: uppercase;
		}
		
		.court-type {
			@include filter-underline();
		}
		
		.date {
			@include filter-underline();
			margin-left: 4px;
		}
		
		.court-desc {
			/*font-style: italic;*/
			font-size: 14px;
			margin: 2px 0 4px;
		}
		
		.court, .division, .chamber, .chamber-division {
			@include filter-underline();
		}
		
		.judges {
			margin-top: 2px;
			
			ul {
				display: inline;
				margin: 0;
				padding: 0;
				
				li {
					display: inline-block;
					margin-left: 8px;
					position: relative;
					
					&:first-child {
						margin-left: 0;
					}
					
				}
			}
		}
		
		.judge {
			@include filter-underline();
			cursor: pointer;
			display: inline-block;
		}
		
		.judgment-form {
			@include filter-underline();
			display: inline-block;
		}
		
		.personnel-type {
			@include filter-underline();
			display: inline-block;
			
			&:after {
				content: ")";
			}
			
			&:before {
				content: "(";
			}
		}
		
		.extract {
			margin: 8px 0 0;
			padding: 0 0 15px;
			text-align: justify;
			
			em {
				background: lighten($sand, 10%);
				font: {
					weight: bold;
				}
				padding: 0 2px;
			}
		}
		
		&:first-child {
			@include border-grey();
			border-width: 1px 0 1px 0;
		}
	}
}

.law-journal {
	position: relative;
	

	.well {
		box-shadow: none;
		display: none;
		margin: 10px 0;
		
		> div {
			padding-left: 0;
			padding-right: 0;
		}
	}
		
	.selected-law {
		background-color: #f5f5f5;
    	border: 1px solid #e3e3e3;
		border-radius: 4px;
		color: #666;
		padding: 10px;
		position: relative;
		
		span {
			display: block;
		    height: 20px;
		    overflow: hidden;
		    padding-right: 30px;
		    width: 100%;
		}
		
		.remove {
			right: 10px;
			top: 10px;
		}
	}
	
	.remove {
		@include background-image("icons/close.png");
		background: {
			position: 50% 50%;
			repeat: no-repeat;
		}
		cursor: pointer;
		display: block;
		float: right;
		height: 20px;
		position: absolute;
		width: 20px;
	}

	.law-close {
		right: 8px;
		position: absolute;
		top: 8px;
		z-index: 10;
	}

	.form-control {
		display: inline-block;
		padding: 6px 8px;
		width: auto;
	}

	.width-full {
		width: 100%;
	}

	.law-journal-more {
		background: $white;
		border: {
			color: $grey-border;
			style: solid;
			width: 0 1px 1px;
		}
		padding: 4px 8px;
		
		&:hover {
			background: lighten($blue, 50%);
			text-decoration: none;
		}
	}

	ul {
		margin: 0;
		padding-bottom: 0;
		padding-left: 0;
	
	
		li {
			background: $white;
			border: 1px solid $grey-border;
			border-width: 1px 1px 0;
			cursor: pointer;
			height: 28px;
			overflow: hidden;
			
			&:first-child {
				background: #f5f5f5;
				border: 0;
				cursor: default;
				margin-bottom: 5px;
				margin-top: 25px;
				
				&:hover {
					background: #f5f5f5;
				}
			}
			
			&:last-child {
				border-width: 1px 1px 1px;
			}
			
			&:hover {
				background: lighten($blue, 35%);
			}
			
			&.no-items {
				color: $red;
			}
			
			a {
				display: inline-block;
			    height: 28px;
			    overflow: hidden;
			    padding: 5px 10px;
			    width: 100%;
			}
		}
	
	}

}

.keywords {
	margin: 8px 0 0;
	
	ul {
		display: inline;
		margin: 0;
		padding: 0;
		
		li {
			display: inline;
		
			.keyword {
				background: $grey;
				border-radius: 2px;
				color: #666;
				cursor: pointer;
				display: inline-block;
				font-size: 13px;
				margin: 0 4px 4px 0;
				padding: 4px 8px;
				
				&:hover {
					background: darken($grey, 10%);
					color: #666;
				}
			}
		}
	}
}

.accuracy {
	background: $white;
	border: 3px solid #ddd;
    border-radius: 50px;
    color: #aaa;
    float: right;
    font-size: 20px;
    font-weight: bold;
    height: 60px;
    padding: 12px 0;
    text-align: center;
    width: 60px;
}

.judgment-page, .judgment-filter {
	background: none repeat scroll 0 0 $white;
    border: 0 solid #e0e0e0;
	margin-top: 30px;
	padding: 30px 40px;
	position: relative;
}

.judgment-page {
	overflow: hidden;
}

.judgment-filter {
	border: {
		color: $grey-border;
		style: solid;
		width: 1px 1px 0 1px;
	}
	padding: 0 30px 0;
	position: relative;
	
	h2 {
		font: {
			size: 24px;
		}
		margin-bottom: 15px;
		
		span {
			font: {
				weight: normal;
				size: 16px;
			}
			margin-left: 10px;
		}
	}
	
	div {
		margin: 5px 0;
	}
	
	.label {
		background: $white;
		border-radius: 0;
		color: $text;
		font: {
			size: 100%;
			weight: 400;
		}
		padding: 0;
	
	}
	
	.filter-box-button {
		opacity: 1;
		right: 58px;
	}
	
	.fbox-button-before {
		background: $white;
		content: "";
		display: block;
		height: 16px;
		opacity: 1;
		position: absolute;
		right: 0;
		top: -5px;
		width: 16px;
		z-index: 1;
	}
	
	.button-settings {
		cursor: pointer;
		position: absolute;
		padding: 4px;
		top: 28px;
		z-index: 10;
	}
	
	.search-settings {
		right: 30px;
	}
	
	.settings-box {
		background: $grey98;
		@include border-grey();
		box-shadow: 0 2px 4px #ddd;
		border-radius: 2px;
		display: none;
		padding: 10px 20px;
		position: absolute;
		right: 30px;
		top: 57px;
		z-index: 1000;
		
		legend {
			font: {
				size: 16px;
			}
			height: 1px;
			margin: 0;
			overflow: hidden;
			width:1px;
			
		}
		
		label {
			background: $grey98;
		}
	}
}

.judgment-page {
	border: 1px solid $grey-border;
	padding-top: 20px;

	
	h2 {
		border: 0;
		margin-bottom: 0;
		margin-top: 0;
	}
	
	h4 {
		border-bottom: 1px solid #e0e0e0;
	    font-weight: 300;
	    margin-bottom: 15px;
	    margin-top: 15px;
	    padding-bottom: 6px;
	}

	.col-md-12 {
		padding-left: 0;
	}

	.judgment-type {
		background: $white;
		color: #888;
	    font-weight: 300;
	    margin-bottom: 10px;
	}

	.modal-dialog {
		width: 960px;
	}
	
	.judgment-data {
		list-style: none;
		margin: 10px 0 20px;
		padding-left: 0;
		
		li {
			margin: 6px 0;
		}
	
		.label-title {
			background: $white;
			color: #616161;
    		display: inline-block;
    		margin-right: 15x;
    		width: 155px;
		}
		
		.desc {
			display: inline-block;
			/*margin-left: 170px;*/
			vertical-align: top;
			word-break: break-all;
			
			p {
				margin-bottom: 2px;
			}
			
			span {
				margin-left: 8px;
				
				&:first-child {
					margin-left: 0;
				}
			}
		}
		
		.judge-role {
			font: {
				style: italic;
				size: 13px;
			}
			&:before {
				content: "-";
			}
		}
	}
	
	.judgment-source-info {
		margin: 10px 0 10px;
		
		li {
			&:first-child {
				margin-bottom: 20px;
				margin-top: 20px;
			}
		}
	}
	
	
	.referencedRegulations {
		list-style: decimal outside none;
		padding-bottom: 10px;
		
		li a {
			display: block;
		}
	}
	
	.break {
		display: block;
		height: 30px;
	}
		
}

.info-box {
	position: absolute;
	right: 20px;
	top: 20px;
	width: 100%;
    
    .info-box-nav {
    	position: absolute;
    	right: 0;
    	top: 0;
    	
    	a {
    		display: inline-block;
    	}
    }
    
    .info-box-section {
    	background: $grey-background;
		border: 1px solid $grey-border;
	    box-shadow: 0 2px 6px $shadow;
	    display: none;
	    opacity: 0;
	    padding: 20px;
	    position: absolute;
	    right: -999px;
	    top: 40px;
	    width: 66%;
	    z-index: 10;
    }
    
    .info-box-content {
    	background: $white;
    	padding: 10px 20px 25px;
    	
    	h3 {
    		margin-top: 0;
    	}
    }
    
    
	.btn-hide {
		@include background-image("icons/close.png");
		cursor: pointer;
		display: block;
		height: 16px;
		position: absolute;
		right: 20px;
		width: 16px;
		top: 20px;
		z-index: 10;
		
		&:hover {
			@include background-image("icons/close_light.png");
		}
	}
}



.correction-block {
	padding-left: 0;
	padding-right: 0;
	position: relative;

}
.correction-info {
	color: #CD5C5C;
	font: {
		style: italic;
	}
	margin-top: 30px;
	padding-left: 15px;
	
	a {
		cursor: pointer;
		margin-left: 5px;
		text-decoration: underline;
	}
}

.corrections {
	background: #fff;
    display: block;	
	padding: 10px 20px 25px;	
	
	h3 {
		margin-top: 0;
	}

	h4 {
		border-bottom: 1px solid #e0e0e0;
	    font-weight: 300;
	    margin-bottom: 15px;
	    margin-top: 15px;
	    padding-bottom: 6px;
	}

	.correction-desc {
		font: {
			size: 12px;
			style: italic;
		}
		padding: 10px 0 0;		
	}

}

.pagination {
	background: $white;
	border: {
		color: $grey-border;
		style: solid;
		width: 0 1px 0 1px;
		radius: 0;
	}
	display: block;
	margin-top: 0;
	margin-bottom: 0;
	padding: 20px 0;
	text-align: center;
	width: 100%;
	
	.results-number {
		background: $white;
		color: #666;
		font-size: 0.8em;
		margin-top: 10px;
	}
	
	.page-block {
		@include border-grey();
		border-radius: 2px;
		font-size: 0.8em;
		margin: 0 2px;
		padding: 3px 8px;
		@include transition(all, 0.2s);
	
		&.active, &:hover, &:active {
			background: #efefef;
		}	
	}
	
	a span {
		height: 1px;
		overflow: hidden;
		position: absolute;
		top: -10px;
		width: 1px;
	}
}

.filter-box {
	@include border-grey();
	background: $white;
    border-radius: 0;
    font: {
    	size: 0.9em;
    	}
    margin: 20px 0 0;
    position: relative;

	p {
		background: $white;
		margin: 0;
		padding: 10px 10px;
	
		&:first-child {
			background: #eee;
			border: 0 dotted $grey-border;
			border-width: 0 0 1px 0;
			font: {
				size: 1em;
				weight: bold;
			}
			padding: 10px;
			text-transform: uppercase;
		}
	}
	
	.no-filters {
	
	}
	
	> div {
		
	}
	
	.filter-hide {
		@include background-image("icons/arrow-up.png");
		background: {
			repeat: no-repeat;
		}
		cursor: pointer;
		display: inline-block;
		float: right;
		height: 24px;
	    margin-right: -4px;
	    margin-top: -4px;
	    width: 24px;
	    
	    &:hover {
	    	@include background-image("icons/arrow-up-light.png");
	    }
	}
	
	.filter-item {
		@include border-grey();
		background: #eee;
		border: {
			width: 1px 0 1px;
		}
		font-size: 0.85em;
		padding: 4px 10px;
		position: relative;
		
		.remove-button {
			@include background-image("icons/close.png");
			cursor: pointer;
			display: block;
			height: 16px;
			position: absolute;
			right: 6px;
			width: 16px;
			top: 4px;
			z-index: 10;
			
			&:hover {
				@include background-image("icons/close_light.png");
			}
		}
		
		.long-text {
			background: #eee;
			box-shadow: 0 0 0 1px $grey-border;
			display: block;
			left: 0;
			padding: 4px 24px 4px 10px;
			position: absolute;
			top: 0;
			width: 100%;	
			z-index: 9;
		}
	}
	
	.clear-button {
		@include border-grey();
		@include filter-button();
		background: #e0e0e0;
		border: {
			color: $grey-border;
			radius: 2px;
		}
		color: $black;
		cursor: pointer;
		display: none;
		font: {
			weight: bold;
		}
		margin: 12px 0 6px 5px;
		padding: 4px 24px 4px 4px;
		position: relative;
		text-transform: uppercase;
		
		&:before {
			@include background-image("icons/close.png");
		    content: "";
		    cursor: pointer;
		    display: block;
		    height: 16px;
		    position: absolute;
		    right: 3px;
		    top: 5px;
		    width: 16px;
		}
		
		&:hover {
			background: #eee;
		}
		
	}
}

.filter-box-hidden {
	visibility: hidden;
}

	

.tooltip-inner {
	background: rgba(0, 0, 0, 0.95);
	padding: 8px;
}


.site-map {

	ul {
		margin-top: 40px;
		
		li {
			background: $white;
			color: $black;
			font: {
				size: 18px;
			}
			margin: 10px 0;
		}
	}
}

.popover {
	padding: 8px 14px;
	line-height: 1.2em;
	max-width: 290px;
	
	.popover-title {
		background: $white;
		display: none;
		margin: 0;	
		padding: 2px 4px 6px;
	}

	.popover-content {
		font: {
			size: 13px;
		}
		padding: 6px 4px 4px;
		text-align: justify;
	}	
}

.presiding-judge {
	
	img {
		margin-top: -4px;
	}
}

.page {
	background: $white;
	border: 1px solid $grey-border;
	margin-top: 30px;
	padding-bottom: 25px;
}


.navbar-nav.navbar-right:last-child {
	margin-right: 0;
}

.form-date {
	display: inline-block;
	width: auto;
}

label.error {
	margin-left: 10px;
}


@keyframes pulsate {
	0% {
		opacity: 0.3;
		transform: scale(0.1, 0.1); 
	}

	50% {
		opacity: 0.8; 
	}

	100% {
		opacity: 0;
		transform: scale(1.2, 1.2); 
	} 
}

.point {
	background-color: $blue;
	border: 2px solid $blue;
	border-radius: 50%;
	display: block;
	height: 6px;
	margin-left: -26px;
	margin-top: 0;
	opacity: 0.95;
	position: absolute;
	right: 76px;
	top: 44px;
	width: 6px; 

	.expanding-circle {
	    animation: 1.8s ease-out 0s normal none infinite pulsate;
	    border: 4px solid $blue;
	    border-radius: 50%;
	    height: 30px;
	    left: -14px;
	    opacity: 0;
	    position: absolute;
	    top: -19px;
	    width: 30px; 
    }
	
}

.panel-generated {
    margin-bottom: 10px;
    margin-top: 40px;

	.panel-heading {
		font: {
			weight: 300;
			size: 18px;
		}	
	}

	.panel-body {
	}

	ul {
		list-style: none;
	}

	.label-title {
		background: none repeat scroll 0 0 #fff;
	    color: #616161;
	    display: inline-block;
	    width: 155px;
	}
	
	.desc {
		display: inline-block;
		vertical-align: top;
		
		p {
			margin-bottom: 2px;
			
			a {
				margin-right: 12px;
			}
		}
	}

}

.judgment-content-buttons {
	margin-bottom: 10px;
}

.hint {
	cursor: pointer;

	img {
		padding: 3px;
	}
}

.has-error label {
	background: #fff;
	color: #a94442;
}

.message-no-js {
	background: $sand;
	border-bottom: 4px solid #666;
	padding: 16px 0;
	position: fixed;
	text-align: center;
	top: 0px;
	width: 100%;
}

.cookie-message {
    background: lighten(#c7c0de, 10%);
    display: none;
    padding: 10px 0 12px;
    position: relative;
    text-align: center;
    top: 0;
    width: 100%;
    
    .text {
        font: {
            size: 12px;
        }
        text-align: left;
    }
    
    .btn {
        margin-top: 10px;
    }
    
}

.cookie-window {
    background: #c7c0de;
    border-radius: 4px;
    padding: 12px 16px;
    position: absolute;
    right: 16px;
    width: 315px;
    top: 10px;
    
    .btn {
        margin-left: 12px;
        padding: 2px 10px;
    }
}

