/*** Modern view styles ***/

@import "_constans.scss";
@import "_mixins.scss";
@import "common.scss";

* {
	margin: 0;
}

html, body {
	background: $grey-background;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 300;
	height: 100%;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}


a {
	&:focus {
		outline: 4px solid lighten($blue, 12%);
		z-index: 10;
	}
}

.container {
	width: 970px !important;
}

header {
	background: url("http://subtlepatterns.com/patterns/debut_light.png") repeat scroll 0 0 transparent;
	
	h1 {
		font-weight: 300;
		margin: 0px 0px 10px;
		padding: 6px 0px 16px;
	}
	
	.navbar-default {
		background: $panel-color;
		border: 0px solid $grey-darker;
		border-width: 0px 0px;
		border-radius: 0px;
		margin-bottom: 0px;
		
		
		.container {
			padding: 0;
		}
	}
}

footer, .push {
	height: $footer-height;
}

footer {
	background: $panel-color;
	border: 0px solid $grey-darker;
	border-width: 0px 0px 6px;
	color: $white;
	padding: 16px 0px 8px;
	
	ul li {
		padding: 0px 8px;
	}
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -$footer-height;
}

.navbar-blank {
	padding-bottom: 0;
	padding-top: 0;
	margin-bottom: 0;
}

.language-change {
	
	a {
		color: $text;
		
		&:hover {
			background: inherit;
		}
	}

	.lang-selected {
		
		font: {
			size: 1.3em;
			weight: 400;
		}
	}
	
	.font-small {
		font-size: 10px;
	}
}

form.search {

	.form-group {
		margin: 16px 0px 16px;
	}

	input[type="text"] {
		background-color: #f5f4f3;
		border-color: rgb(200, 200, 200);
		border-width: 1px 1px 3px;
		border-style: solid;
		border-radius: 0px;
		box-shadow: none; 
		color: #414243;
		/*font-style: italic;*/
		font-weight: 300;
		font-size: 1.2em;
		padding: 10px 12px;
		width: 400px;
	}

}

.navbar-default {
	margin-bottom: 0px;
	
	.navbar-nav {
		
		li a {
			border: 0px solid $panel-color;
		}
		
		li a, li .active {
			background: $panel-color !important;
			color: $white !important;
		}
		
		li a {
			font-size: 16px;
			padding: 15px;
			transition: all 0.2s ease 0s;
				
			&:first-child {
				border-left: 2px solid $panel-color;
			}
		
			&:hover, &:focus {
				background: $orange;
				
				color: #f8f8f8;
			}
		}
	}
}

.advert-header {
	background: $panel-color;
	color: $white;
	display: inline-block;
	font-size: 24px;
	padding: 8px 16px;
}

.advert-idea {
	margin-top: 30px;
	margin-bottom: 30px;
	
	.item-desc {
		background: #fff;
		border: 1px solid #e6e6e6;
		font-size: 17px;
		line-height: 1.5em;
		padding: 10px 50px;
	}
}

.advert-ground {
	background: #333;
	margin-top: 0px;
	margin-bottom: 150px;
	padding: 30px 0px;

	.item {
		color: $white;
		padding: 0px 40px;
	
		.block {
			background: $sand;
			border-radius: 75px;
			height: 150px;
			margin: 10px auto 20px;
			width: 150px;
		}
		
		.item-title {
			font-size: 20px;
			font-weight: 600;
			text-align: center;
		}
		
		.item-desc {
			font-size: 17px;
			text-align: justify
		}
		
		.search {
			@include background-image("icons/search.png");
			background-position: 50%;
			background-repeat: no-repeat;
			cursor: pointer;
		}
		
		.stats {
			@include background-image("icons/chart.png");
			background-position: 50%;
			background-repeat: no-repeat;
			cursor: pointer;
		}
		
		.api {
			@include background-image("icons/computer.png");
			background-position: 50%;
			background-repeat: no-repeat;
			cursor: pointer;
		}
	}
}

.spinner {
	img {
		border: 2px solid $panel-color;
		border-top: 0px;
	}
	
	.stage {
		background: #e8e8e8;
		@include background-image("banners/stats.png");
		background-repeat: no-repeat;
		border-top: 0px;	
		height: 320px;
		position: relative;
		width: 100%; 
		
		.block-info {
			background: $orange;
			bottom: 20px;
			color: $white;
			left: 20px;
			padding: 20px;
			position: absolute;
			width: 460px;
			
			h3 {
				font-size: 20px;
				font-weight: bold;
				margin: 5px 0px;
			}
			
			p {
				font-size: 17px;
				line-height: 1.5em;
			}
		}
		
		.block-button {
		
		}
	}
	
	.pagination {
		background: rgba(0, 0, 0, 0);
		border: 0px;
		text-align: center;
		width: 100%;
	
		ul {
			list-style: none;
			
			li {
				border: 4px solid #333;
				cursor: pointer;
				display: inline-block;
				height: 16px;
				margin: 5px 10px;
				width: 16px;
			
				&:hover, &.active {
					border-color: $orange;
				}
			}
		}
	}
}

.advert-partners {
	margin: 30px auto 20px;
}

.advert-frame {
	background: #fff;
	border: 1px solid #e6e6e6;
	border-radius: 0px;
	padding: 15px;
	
	img {
		padding-bottom: 15px;
	}
	
	> div {
		text-align: center;
	}
}

.block {
	
	h3 {
		border-bottom: 1px solid #e0e0e0;
	    font-weight: 300;
	    margin-bottom: 30px;
	    padding-bottom: 6px;
	}
}

.search-form {
	background: #fff;
	border: 1px solid $grey-border;
	border-radius: 2px;
    margin-top: 30px;
    padding: 0 30px;
	
	input {
		border-radius: 2px;
		border-color: e0e0e0;
		box-shadow: 0 0 1px rgba(255, 255, 255, 0.976) inset;
		color: #444;
	}
	
	label {
		font-weight: 400;
		
		&.col-sm-2 {
			width: 18%;		
		}
	}
	
	.advance-form {
		background: none repeat scroll 0 0 #fff;
	    display: none;
	    margin: 0px 0px -8px 0px;
	    padding: 15px 0 0;
	    position: relative;
	    top: -60px;
	}
	
	ul {
		list-style: none;
		padding-left: 26px;
		padding-bottom: 20px;
		
		a {
			padding: 5px 10px;
		}
	}
	
	input[type="checkbox"] {
		margin-left: 0px;
	}
	
	
}

.button {
	border-radius: 2px;
	padding: 6px 12px;
}

.button-blue {
	background: $blue;
}

.btn-blue {
    background-color: #da4f49;
    background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.search-results {
	border: {
		color: $grey-border;
		style: solid;
		width: 0px 0px 1px 0px;
	}
	padding-left: 0px;
	padding-right: 0px;
}

.judgment-list {
	background: #fff;
	border: {
		color: $grey-border;
		style: solid;
		width: 0px 1px 0px 1px;
	}
	padding-bottom: 30px;

	.no-results {
		font: {
			size: 15px;
		}
		padding-top: 40px;
	}

	.judgment {
		border: {
			color: $grey-border;
			style: solid;
			width: 0px 0px 0px 0px;
		}
		padding: 0px 30px 0px;
	
		> .row {
			padding: 15px 0px 0px;
		}
	
		.case-number {
			color: #0176c3;
			font-size: 22px;
			margin-bottom: 6px;
		}
		
		.judgment-type {
			@include filter-underline();
			border-color: #888;
			bottom: -3px;
			color: #888;
			display: inline-block;
			font-size: 11px;
			position: relative;
			text-transform: uppercase;
		}
		
		.date {
			@include filter-underline();
			margin-left: 4px;
		}
		
		.court-desc {
			/*font-style: italic;*/
			font-size: 14px;
		}
		
		.court, .division, .chamber, .chamber-division {
			@include filter-underline();
		}
		
		.judges {
			margin-top: 2px;
		}
		
		.judge {
			@include filter-underline();
			cursor: pointer;
			display: inline-block;
			margin-right: 8px;
		}
		
		.judgment-form {
			@include filter-underline();
			display: inline-block;
		}
		
		.personnel-type {
			@include filter-underline();
			display: inline-block;
			
			&:after {
				content: ")";
			}
			
			&:before {
				content: "(";
			}
		}
		
		.extract {
			border: {
				color: $grey-border;
				style: solid;
				width: 0px 0px 1px 0px;
			}
			margin: 8px 0px 0px;
			padding: 0px 0px 15px;
			text-align: justify;
			
			em {
				background: lighten($sand, 10%);
				font: {
					weight: bold;
				}
				padding: 0px 2px;
			}
		}
		
		&:first-child > .row {
			@include border-grey();
			border: {
				width: 1px 0px 0px;
			}
		}
	}
}

.keywords {
	margin: 10px 0px 0px;

	.keyword {
		background: $grey;
		border-radius: 2px;
		color: #666;
		cursor: pointer;
		display: inline-block;
		font-size: 13px;
		margin: 0px 4px 4px 0px;
		padding: 4px 8px;
		
		&:hover {
			background: darken($grey, 10%);
			color: #666;
		}
	}
}

.accuracy {
	border: 3px solid #ddd;
    border-radius: 50px;
    color: #aaa;
    float: right;
    font-size: 20px;
    font-weight: bold;
    height: 60px;
    padding: 12px 0;
    text-align: center;
    width: 60px;
}

.judgment-page, .judgment-filter {
	background: none repeat scroll 0 0 #fff;
    border: 0px solid #e0e0e0;
	margin-top: 30px;
	padding: 30px 40px;
}

.judgment-filter {
	border: {
		color: $grey-border;
		style: solid;
		width: 1px 1px 0px 1px;
	}
	padding: 0px 30px 0px;
	position: relative;
	
	h3 {
		margin-bottom: 15px;
		
		span {
			font: {
				weight: normal;
				size: 16px;
			}
			margin-left: 10px;
		}
	}
	
	div {
		margin: 5px 0px;
	}
	
	.label {
		border-radius: 0px;
		color: $text;
		font: {
			size: 100%;
			weight: 400;
		}
		padding: 0px;
	
	}
	
	.filter-box-button {
		@include background-image("icons/filter.png");
		background: {
			repeat: no-repeat;
			size: 16px 16px;
		}
		cursor: pointer;
		height: 16px;
		opacity: 1;
		position: absolute;
		right: 60px;
		top: 20px;
		width:16px;
		
		&:hover {
			@include background-image("icons/filter-light.png");
		}
	}
	
	.fbox-button-before {
		background: #fff;
		content: "";
		display: block;
		height: 16px;
		opacity: 1;
		position: absolute;
		right: 0px;
		top: -5px;
		width: 16px;
		z-index: 1;
	}
	
	.search-settings {
		@include background-image("icons/settings.png");
		background: {
			repeat: no-repeat;
			size: 16px 16px;
		}
		cursor: pointer;
		height: 16px;
		position: absolute;
		right: 40px;
		top: 20px;
		width:16px;
		
		&:hover {
			@include background-image("icons/settings_light.png");
		}
	}
	
	.settings-box {
		background: #fff;
		@include border-grey();
		display: none;
		padding: 10px 20px;
		position: absolute;
		right: 40px;
		top: 47px;
		z-index: 1000;
	}
}

.judgment-page {
	border: 1px solid $grey-border;
	padding-top: 20px;

	
	h2 {
		margin-bottom: 0px;
		margin-top: 0px;
	}
	
	h4 {
		border-bottom: 1px solid #e0e0e0;
	    font-weight: 300;
	    margin-bottom: 15px;
	    margin-top: 15px;
	    padding-bottom: 6px;
	}

	.col-md-12 {
		padding-left: 0px;
	}

	.judgment-type {
		color: #888;
	    font-weight: 300;
	    margin-bottom: 10px;
	}

	.modal-dialog {
		width: 960px;
	}
	
	.judgment-data {
		list-style: none;
		margin: 30px 0px 40px;
		padding-left: 0px;
		
		li {
			margin: 10px 0px;
		}
	
		.label-title {
			color: #616161;
    		display: inline-block;
    		margin-right: 15x;
    		width: 155px;
		}
		
		.desc {
			display: inline-block;
			/*margin-left: 170px;*/
			vertical-align: top;
		}
	}
	
	.referencedRegulations {
		list-style: decimal outside none;
		
		li a {
			display: block;
		}
	}
	
	.break {
		display: block;
		height: 60px;
	}
		
}


.pagination {
	background: #fff;
	border: {
		color: $grey-border;
		style: solid;
		width: 0px 1px 0px 1px;
		radius: 0px;
	}
	display: block;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 20px 0px;
	text-align: center;
	width: 100%;
	
	.results-number {
		color: #666;
		font-size: 0.8em;
		margin-top: 10px;
	}
	
	.page-block {
		@include border-grey();
		border-radius: 2px;
		font-size: 0.8em;
		margin: 0px 2px;
		padding: 3px 8px;
		transition: all 0.2s ease 0s;
	
		&.active, &:hover, &:active {
			background: #efefef;
		}	
	}
}

.filter-box {
	@include border-grey();
	background: #fff;
    border-radius: 0px;
    font: {
    	size: 0.9em;
    	}
    margin: 20px 0 0;
    /*padding: 0px 0px 8px 0px;*/
    width: 203px;

	p {
		background: #fff;
		margin: 0px;
		padding: 10px 10px;
	
		&:first-child {
			background: #eee;
			border: 0px dotted $grey-border;
			border-width: 0px 0px 1px 0px;
			font: {
				size: 1em;
				weight: bold;
			}
			padding: 10px;
			text-transform: uppercase;
		}
	}
	
	.no-filters {
	
	}
	
	> div {
		
	}
	
	.filter-hide {
		@include background-image("icons/arrow-up.png");
		background: {
			repeat: no-repeat;
		}
		cursor: pointer;
		display: inline-block;
		float: right;
		height: 24px;
	    margin-right: -4px;
	    margin-top: -4px;
	    width: 24px;
	    
	    &:hover {
	    	@include background-image("icons/arrow-up-light.png");
	    }
	}
	
	.filter-item {
		@include border-grey();
		background: #eee;
		border: {
			width: 1px 0px 1px;
		}
		font-size: 0.85em;
		padding: 4px 10px;
		position: relative;
		
		.remove-button {
			@include background-image("icons/close.png");
			display: block;
			height: 16px;
			position: absolute;
			right: 6px;
			width: 16px;
			top: 4px;
			z-index: 10;
			
			&:hover {
				@include background-image("icons/close_light.png");
			}
		}
		
		.long-text {
			background: #eee;
			box-shadow: 0px 0px 0px 1px $grey-border;
			display: block;
			left: 0px;
			padding: 4px 24px 4px 10px;
			position: absolute;
			top: 0px;
			width: 100%;	
			z-index: 9;
		}
	}
	
	.remove-button {
		cursor: pointer;
		float: right;
		margin: 0px 0px 0px 5px;
		
		&:hover {
			color: #666;
		}
	}
	
	.clear-button {
		@include border-grey();
		@include filter-button();
		background: #e0e0e0;
		border: {
			color: $grey-border;
			radius: 2px;
		}
		cursor: pointer;
		display: none;
		font: {
			weight: bold;
		}
		margin: 12px 0px 6px 5px;
		padding: 4px 24px 4px 4px;
		position: relative;
		text-transform: uppercase;
		
		&:before {
			@include background-image("icons/close.png");
		    content: "";
		    cursor: pointer;
		    display: block;
		    height: 16px;
		    position: absolute;
		    right: 3px;
		    top: 5px;
		    width: 16px;
		}
		
		&:hover {
			background: #eee;
		}
		
	}
}


.correction-block {
	padding-left: 0px;
	padding-right: 0px;
	position: relative;

	.correction-info {
		color: #CD5C5C;
		font: {
			style: italic;
		}
		margin-top: 30px;
		padding-left: 15px;
		
		span {
			cursor: pointer;
			margin-left: 5px;
			text-decoration: underline;
		}
	}
	
	.corrections {
		background: #fff;
	    border: 1px solid #e0e0e0;
	    display: none;	
		font: {
			/*size: 0.8em;*/
		}
		margin-bottom: -60px;
		padding: 10px 40px 25px;	
		position: relative;
		top: -40px;
		
	
		h4 {
			border-bottom: 1px solid #e0e0e0;
		    font-weight: 300;
		    margin-bottom: 15px;
		    margin-top: 15px;
		    padding-bottom: 6px;
		}
	
		.correction-desc {
			font: {
				size: 12px;
				style: italic;
			}
			padding: 0;		
		}
	
	}
	
}

.tooltip-inner {
	background: rgba(0, 0, 0, 0.95);
	padding: 8px;
}




