/*** Main styles ***/

@import "_constans.scss";
@import "_mixins.scss";

* {
	margin: 0;
}

html, body {
	font-family: 'Lato', sans-serif;
	height: 100%;
}


header {
	
	h1 {
		margin: 30px 0px 10px;
		padding: 6px 0px 16px;
	}
	
	.navbar-default {
		background: $grey;
		border: 2px solid $grey-darker;
		border-width: 2px 0px;
		border-radius: 0px;
		margin-bottom: 10px;
		
		
		.container {
			padding: 0;
		}
	}
}

footer, .push {
	height: 10em;
}

footer {
	background: $grey;
	border: 6px solid $grey-darker;
	border-width: 2px 0px 6px;
	padding: 16px 0px 8px;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -10em;
}

.navbar-blank {
	padding-bottom: 0;
	padding-top: 0;
	margin-bottom: 0;
}

.language-change {
	
	a {
		color: $text;
		
		&:hover {
			background: inherit;
		}
	}

	.lang-selected {
		
		font: {
			size: 1.3em;
			weight: 400;
		}
	}
}

form.search {

	.form-group {
		margin: 16px 0px 16px;
	}

	input[type="text"] {
		background-color: #f5f4f3;
		border-color: rgb(200, 200, 200);
		border-width: 1px 1px 3px;
		border-style: solid;
		border-radius: 0px;
		box-shadow: none; 
		color: #414243;
		/*font-style: italic;*/
		font-weight: 300;
		font-size: 1.2em;
		padding: 10px 12px;
		width: 400px;
	}

	/*
	input[type="text"] {
		border-color: rgb(200, 200, 200);
		border-width: 1px;
		border-style: solid;
		border-radius: 2px;
		box-shadow: none;
		color: #818283;
		font-style: italic;
		font-weight: 300;
		padding: 6px 10px;
	}*/

}

.navbar-default {
	
	.navbar-nav {
		
		li a {
			transition: all 0.4s ease 0s;
		}
		
		li a, .active a {
			&:hover {
				background: #1e2332;
				color: #f8f8f8;
			}
		}
	}
}





