<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <display-name>SAOS Web Application</display-name>

    <!-- jsp render phase errors - they are not seen by the spring exception resolver -->
	<error-page>
		<error-code>500</error-code>
		<location>/errors/500</location>
	</error-page>
    
    <error-page>
        <error-code>404</error-code>
        <location>/errors/404</location>
    </error-page>
  
    <!-- JavaMelody -->
    <filter>
        <filter-name>javamelody</filter-name>
        <filter-class>net.bull.javamelody.MonitoringFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>javamelody</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>net.bull.javamelody.SessionListener</listener-class>
    </listener>
    
    
</web-app>
